doctype html
head
  meta(charset='utf-8')
  title #{subject}
  style.
    .invoice-box {
    max-width: 800px;
    min-height: 842px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
    }
    .invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    }
    .invoice-box table td {
    padding: 5px;
    vertical-align: top;
    }
    .invoice-box table tr td:last-child {
    text-align: right;
    }
    .invoice-box table tr.top table td {
    padding-bottom: 20px;
    }
    .invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
    }
    .invoice-box table tr.information table td {
    padding-bottom: 40px;
    }
    .invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    }
    .invoice-box table tr.details td {
    padding-bottom: 20px;
    }
    .invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
    }
    .invoice-box table tr.item.last td {
    border-bottom: none;
    }
    .invoice-box table tr.total td:last-child {
    border-top: 2px solid #eee;
    font-weight: bold;
    }
    @media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
    }
    .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
    }
    }
    /** RTL **/
    .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }
    .rtl table {
    text-align: right;
    }
    .rtl table tr td:last-child {
    text-align: left;
    }
.invoice-box
  table(cellpadding='0' cellspacing='0')
    tr.top
      td(colspan='4')
        table
          tr
            td.title
              img(src='https://www.focus.upesisoft.com/img/Focus%20Logo.png' style='width:100%; max-width:300px;')
            td
              | Invoice # #{orderDetails.id}
              br
              |                                 Date: #{orderDetails.createdAt}
              br
    tr.information
      td(colspan='4')
        table
          tr
            td
              | Focus Glass &amp; Aluminium.
              br
              |                                 Irene Njeri
              br
              |                                 injeri92@gmail.com
            td
              strong To
              br
              |                                 #{customerDetails.customerFirstName ? customerDetails.customerFirstName + ' ' + customerDetails.customerLastName : ''}
              br
              |                                 #{customerDetails.customerPhoneNumber ? customerDetails.customerCountryCode + customerDetails.customerPhoneNumber : ''}
              br
              |                                 #{customerDetails.customerEmail ? customerDetails.customerEmail : ''}
              br
              |                                 #{customerDetails.kraPin ? customerDetails.kraPin : ''}
    tr.heading
      td
        | Item
      td
        | QTY
      td
        | Unit
      td
        | Price
    each orderItem in orderItems
      tr.item
        td
          | #{orderItem.productName ? orderItem.productName : 'N/A'}
        td
          | #{orderItem.qty ? orderItem.qty : '1'}
        td
          | #{orderItem.soldMeasurement ? orderItem.soldMeasurement + orderItem.measurementAbbreviation : orderItem.measurementAbbreviation ? orderItem.measurementAbbreviation : 'N/A'}
        td
          | KES #{orderItem.price ? orderItem.price : 'N/A'}
    tr.total
      td
      td
      td
      td
        | Total: #{'KES ' + orderDetails.total ? orderDetails.total : 'N/A'}
